layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane {
        command "helix"
        args "."
    }
    pane split_direction="vertical" size="10%" {

    } 
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
