layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=#89B4FA,bold]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""d
                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=#eb06a2] {name} "
                mode_tmux    "#[bg=#ffc1b9] {name} "

                tab_normal   "#[fg=#af0000] {name} "
                tab_active   "#[fg=#00ff00,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#ff9d00,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Prague"


               //  // formatting for inactive tabs
               //  tab_normal              "#[fg=#6C7086] {index} :: {name} "
               //  tab_normal_fullscreen   "#[fg=#6C7086] {index} :: {name} [] "
               //  tab_normal_sync         "#[fg=#6C7086] {index} :: {name} <> "

               //  // formatting for the current active tab
               //  tab_active              "#[fg=#9399B2,bold,italic] {name} {floating_indicator}"
               //  tab_active_fullscreen   "#[fg=#9399B2,bold,italic] {name} {fullscreen_indicator}"
               //  tab_active_sync         "#[fg=#9399B2,bold,italic] {name} {sync_indicator}"

               //  // separator between the tabs
               //  tab_separator           "#[fg=#6C7086,bg=#181825] | "

               //  // indicators
                tab_sync_indicator       "<> "
                tab_fullscreen_indicator "[] "
                tab_floating_indicator   "⬚ " 


               //  // mode_normal        "#[bg=#89B4FA] {name} "
                mode_locked        "#[bg=#aa0000] {name} "
               //  mode_resize        "#[bg=#89B4FA] {name} "
               //  mode_pane          "#[bg=#89B4FA] {name} "
               //  mode_tab           "#[bg=#89B4FA] {name} "
               //  mode_scroll        "#[bg=#89B4FA] {name} "
               //  mode_enter_search  "#[bg=#89B4FA] {name} "
               //  mode_search        "#[bg=#89B4FA] {name} "
               //  mode_rename_tab    "#[bg=#89B4FA] {name} "
               //  mode_rename_pane   "#[bg=#89B4FA] {name} "
               //  mode_session       "#[bg=#89B4FA] {name} "
               //  mode_move          "#[bg=#89B4FA] {name} "
               //  mode_prompt        "#[bg=#89B4FA] {name} "
               //  mode_tmux          "#[bg=#ffc387] {name} "

                mode_default_to_mode "tmux"



                
            }
        }
    }
}
